%p#notice= notice

%p
  %b Name:
  = @event.name
%p
  %b Date:
  = @event.date
%p
  %b Theme:
  = @event.theme

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
\|
= link_to 'Model Placements', event_model_placements_path(@event)
