%h1 Listing model_placements

%table
  %tr
    %th Event
    %th Runway model
    %th Jewelry item name
    %th Photo
    %th
    %th
    %th

  - @model_placements.each do |model_placement|
    %tr
      %td= model_placement.event.name
      %td= model_placement.runway_model.name
      %td= model_placement.jewelry_item.name
      %td= image_tag model_placement.jewelry_item.photo.url(:thumb)
      %td= link_to 'Show', event_model_placement_path(@event.id, model_placement)
      %td= link_to 'Edit', edit_event_model_placement_path(@event.id, model_placement)
      %td= link_to 'Destroy', event_model_placement_path(@event.id, model_placement), :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Model placement', new_event_model_placement_path(@event)
