%p#notice= notice

%p
  %b Start date:
  = @showcase_placement.start_date
%p
  %b End date:
  = @showcase_placement.end_date
%p
  %b Showcase:
  = @showcase_placement.showcase.name
%p
  %b Jewelry item:
  = @showcase_placement.jewelry_item.name

= link_to 'Edit', edit_showcase_showcase_placement_path(@showcase, @showcase_placement)
\|
= link_to 'Back', showcase_showcase_placements_path(@showcase)
