%h1 Listing jewelry_items

%table
  %tr
    %th Photo
    %th Name
    %th Collection
    %th Size
    %th Earring type
    %th Jewelry type
    %th Price
    %th String type
    %th Clasp
    %th
    %th
    %th

  - @jewelry_items.each do |jewelry_item|
    %tr
      %td= image_tag jewelry_item.photo.url(:thumb)
      %td= jewelry_item.name
      %td= jewelry_item.collection.name
      %td= jewelry_item.size
      %td= jewelry_item.earring_type.name
      %td= jewelry_item.jewelry_type.name
      %td= jewelry_item.price
      %td= jewelry_item.string_type.name
      %td= jewelry_item.clasp.name
      %td= link_to 'Show', jewelry_item
      %td= link_to 'Edit', edit_jewelry_item_path(jewelry_item)
      %td= link_to 'Destroy', jewelry_item, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Jewelry item', new_jewelry_item_path
