%p#notice= notice

%p
  %b Photo:
  = image_tag @jewelry_item.photo.url(:medium) if @jewelry_item.photo?
%p
  %b Name:
  = @jewelry_item.name
%p
  %b Collection:
  = @jewelry_item.collection.name
%p
  %b Size:
  = @jewelry_item.size
%p
  %b Earring type:
  = @jewelry_item.earring_type.name
%p
  %b Jewelry type:
  = @jewelry_item.jewelry_type.name
%p
  %b Price:
  = @jewelry_item.price
%p
  %b String type:
  = @jewelry_item.string_type.name
%p
  %b Clasp:
  = @jewelry_item.clasp.name

= link_to 'Edit', edit_jewelry_item_path(@jewelry_item)
\|
= link_to 'Back', jewelry_items_path
