<!DOCTYPE html>
<html>
<head>
  <title>Dangelica</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to 'Showcases', showcases_path %>
|
<%= link_to 'Jewelry Items', jewelry_items_path %>
|
<%= link_to 'Collections', collections_path %>
| 
<%= link_to 'Events', events_path %>
|
<%= link_to 'Models', runway_models_path %>
| 
<%= link_to 'Stones', stones_path %>
|
<%= link_to 'Beads', beads_path %>
|
<%= link_to 'Crystals', crystals_path %>
|
<%= link_to 'Filler Beads', filler_beads_path %>

<hr>

<%= yield %>

</body>
</html>
